.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  background-image: url(/hero-bg.jpg);
}

.form {
  flex: 1;
  max-width: 450px;
  padding-top: 80px;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
} 